<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODOLISTE</title>
    <link rel="icon" href="/img/icone.ico">
    <link rel="stylesheet" href="/css/styles.css">
</head> 
<body>
    <h1>TODOLISTE AJVDEC</h1>
    <div id="liste">
    </div>
    <div>
    <button id="btn_ajouter" onclick="Ajouter()">Ajouter une tache✅​</button>
    <button id="btn_supprimer" onclick="Supprimer_tout()">🗑️​</button>
    <button id="btn_charger" onclick="chargerListe()">Charger la liste</button>
    </div>
    <div>    
        <textarea id="text_area_tache" placeholder="Ajouter une tache"></textarea>
    </div>
    <script src="/js/main.js"></script>
</body>
</html>